body {background-color: black;
    text-align: center;
}

ol{
    text-align: left;
    color: aliceblue;
}

imagem{
    text-align: center;
    height: 50px;
    width: 50px;

}
p{
    color: aliceblue;
    font-style: oblique;
}

button {
color: red    
}

img{
    text-align: center;
    height: 100px;
    width: 100px;
}
