body {background-image: linear-gradient(to top,#B926E0,#342E36);
    background-attachment: fixed;
    text-align: center;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 90px;
    box-shadow: 30px,30px,30px,black;
}

ol{
    text-align: left;
    color: rgb(12, 12, 12);
}

imagem{
    text-align: center;
    height: 50px;
    width: 50px;

}
p{
    color: black;
    font-style: oblique;
    text-align: center;
}

button {
color: #0e0d0e;    
}

img{
    text-align: center;
    height: 200px;
    width: 200px;
}
