body {background-image: linear-gradient(to top,#B926E0,#342E36);
    text-align: center;
    background-attachment: fixed;
}

ol{
    text-align: left;
    color: aliceblue;
}

imagem{
    text-align: center;
    height: 50px;
    width: 50px;

}
p{
    color: aliceblue;
    font-style: oblique;
}

button {
color: #0e0d0e;    
}

img{
    text-align: center;
    height: 100px;
    width: 100px;
}
